html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
}


/** HEADER **/
nav {
	padding: 5px;
	margin-top: 10px;
	border-bottom: 2px solid grey;
}

.logo-brand {
	display: inline-block;
	width: 9em;
	padding: 0;
	margin-left: 0;
	/*margin-right: 1%;*/
	/*margin-bottom: 5px;*/
	/*border: 1px solid orange;*/
	text-align: center;
	font-size: 1.5em;
}

.nav-switch-button {
	display: inline-block;
	margin-right: 1%;
	border: 1px solid grey;
	border-radius: 5px;
	/*margin-right: auto;*/
	margin-left: 73.5%;
	width: 5%;
	padding: 2px 1px 0;
	text-align: center;
}
.nav-switch-button > span {
	display: block;
}
.cart > i {
	/*font-size: 1.3em;*/
	vertical-align: middle;
}

/* END HEADER */

/* CATALOG PAGE */
.catalog-content {
	margin-top: 5px;
	width: 100%;
	background-color: #f5f7f4;
	height: 100%;
}

h2 {
	display: inline-block;
	margin-left: 0;
}

.desc-btn {
	display: inline-block;
	margin-left: 75%;
}

[name^="shadow-"] {
    display: none;
}

[name^="shadow-"] ~ .button > .material-icons {
    /*width: 70%;*/
    /*border: 2px solid grey;*/
    /*border-radius: 3px;*/
    font-size: 2em;
    /*padding: 1% 10%;*/
    /*box-shadow: 2px solid #000;*/
}

.button > i {
	font-size: 1.3em;
	vertical-align: middle;
}

[name^="shadow-"]:checked ~ .button.tile .material-icons{
    display: none;
}

[name^="shadow-"]:not(:checked) ~ .button.list .material-icons {
    display: none;
}

.catalog-content hr {
	/*border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/

	height: 12px; 
	border: 0; 
	box-shadow: inset 0 12px 12px -12px rgba(201, 200, 200);	
}

.root-catalog {
	/*margin: 0 auto;	*/
	padding: 1% .5%;
	text-align: center;
}

.card-cat {
	display: inline-block;
	/*width: 100%;*/
	height: 500px;
	margin-bottom: 10px;
	/*padding: 6px;*/
}

[name^="shadow-"]:checked + .key1 ~ .root-catalog > .card-cat {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	padding: 6px;
}

/*.root-catalog > .card-cat {	
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	padding: 6px;
}*/
/*display: inline-block;*/
/*border: 1px solid grey;*/

.card-cat > ul {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	/*padding: 6px;*/
}

/*.card-cat-content {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
}*/




/* End CATALOG Page */


/********** Large devices only **********/
@media (min-width: 1200px) {
	.card-cat {
		width: 22%;
		height: 500px;
		padding: 1% 1%;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.card-cat {
		width: 28%;
		height: 500px;
		padding: 1% 1.5%;
	}
 }

 /********* Small devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	.card-cat {
		width: 40%;
		height: 500px;
		padding: 1%;
	}
}

/********* Small devices only *********/
@media (min-width: 600px) and (max-width: 767px) {
	.card-cat {
		width: 55%;
		height: 500px;
		padding: 1%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 599px) {
	.card-cat {
		width: 80%;
		height: 500px;
		padding: 2%;
	}
}
